[DEFAULT]
klist_path = ''
ip_address = '192.168.10.16'
width_sweep = 4.0
step_sweep = 0.01
path_dir = None
sg_ch = None
sg_serial = None
rate_kHz = 1
label = ''
comment = ''
swap_dac = True
swap_adc = True

[GB04]
# readout v2
klist_path = '/home/tomonaga/scripts/tune_config/kids_GB04.list'
ip_address = '192.168.10.34'
width_sweep = 6.0
step_sweep = 0.01
path_dir = '/home/tomonaga/scripts/
sg_serial = 1520201130
rate_kHz = 1
comment = 'LT272_Wafer1_ChipA'
