[DEFAULT]
0;95;0cklist_path = ''
ip_address = '192.168.10.16'
width_sweep = 4.0
step_sweep = 0.01
path_dir = None
sg_ch = None
sg_serial = None
rate_kHz = 1
label = ''
comment = ''
swap_dac = True
swap_adc = True

[GB01]
# readout v2
klist_path = '/home/gb/scripts/obs_config/config/202209/kidslist/lt221-23pix_full_202209.list'
ip_address = '192.168.10.31'
sg_serial = 1520200304
comment = 'SRONLT221-23pix'